nav {
    text-align: center;
}

section {
    text-align: center;
}

#titulo { 
    background-image: url("img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 80px 5px 100px 0px;
    margin: -8px -8px 0px -8px;
}

.topnav {
    background-color: rgba(128, 128, 128, 0.753);
    overflow: hidden;
    display: inline;
    position:fixed;
    width: 100%;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 10px;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
}

#introducao{
    background-color:#57bb8a; 
    color: white; 
    font-size:20px;
    margin: 0px -8px 0px -8px;
}

#jornada{
    background-color:#eaebe6; 
    margin: 0px -8px 0px -8px;
    padding: 50px 100px 100px 200px;
}

#astronauta {
    float: left;
    padding: 10px 10px 0px 10px;
}

#aprendizado {
    color: rgb(104, 104, 104);
    text-align: right;
    font-size:21px;
    padding-right: 50px;
}

#programadoras {
    background-color: #57bb8a; 
    text-align: center;
    margin: -20px -8px 0px -8px;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    color: white;
}

div.box {
	width: 200px;
	display: inline-block;
    align-items: center;
}

footer {
    background-color:#eaebe6;
    margin: 0px -8px -8px -8px ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.orcamento { 
    background-image: url("img/orcamentos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 80px 0px 10px 0px;
    margin: -8px -8px 0px -8px;
    width: 100%;
}

form {
    font-size: 20px;
    text-align: center;
}

#bianca, #sobre {
    display: inline-block;
}

#quemsou {
    text-align: center;
    padding: 100px 0px 0px 0px ;
}

.conteudo {
    text-align: center;
}

#sobre {
    padding-left: 100px;
}

button {
    background-color:rgba(241, 39, 3, 0.808);
    font-size: 18px; 
    color:white;
}